{{> nav-bar}}
<div class="container">
    {{#each posts as |post|}}
    <p>{{post.id}}</p>
    <p>{{post.post_title}}</p>
    <p>{{post.description}}</p>
    <p>{{post.user_id}}</p>
    <p>{{post.createdAt}}</p>
    <p>{{post.updatedAt}}</p>
    <a href="/posts/{{post.id}}"><button type="button" class="btn btn-success">View Full Post</button></a>
    <button type="button" class="btn btn-danger">Delete</button>
    <button type="button" class="btn btn-primary">Edit</button>
    {{/each}}
</div>