{{> nav-bar}}
<div class="container-fluid bg-primary">
  <h1>Focus on your goals</h1>
  <p>Discover new post, stories and information</p>
  <a href="/read"><button type="button" class="btn btn-success">Start reading</button></a>
  {{#if loggedIn}}
    <a href="/write"><button type="button" class="btn btn-success">Start writing</button></a>
  {{else}}
    <button
    type="button"
    class="btn btn-success"
    data-bs-toggle="modal"
    data-bs-target="#exampleModal">Log In
    </button>
  {{/if}}
</div>

<div class="container">
  {{#if loggedIn}}
    {{#each posts as |post|}}
    <p>{{post.id}}</p>
    <p>{{post.post_title}}</p>
    <p>{{post.description}}</p>
    <p>{{post.user_id}}</p>
    <p>{{post.createdAt}}</p>
    <p>{{post.updatedAt}}</p>
    <a href="/posts/{{post.id}}"><button type="button" class="btn btn-success">View Full Post</button></a>
    {{/each}}
  {{else}}
    {{#each posts as |post|}}
    <p>{{post.id}}</p>
    <p>{{post.post_title}}</p>
    <p>{{post.description}}</p>
    <p>{{post.user_id}}</p>
    <p>{{post.createdAt}}</p>
    <p>{{post.updatedAt}}</p>
    {{/each}}
  {{/if}}
</div>
