{{> nav-bar}}
<div class="container">
<h1>{{post.id}}</h1>
<h2>{{post.post_title}}</h2>
<h3>{{post.description}}</h3>
<h4>{{post.user_id}}</h4>
<h5>{{post.createdAt}}</h5>
<p>{{post.user.username}}</p>
</div>
