{{> nav-bar}}
<script src="/assets/js/commentActions.js" defer></script>
<div class="container mt-4">
  <h1 class="text-secondary">{{post.post_title}}</h1>
  <p class="mb-0">by {{post.user.firstname}} {{post.user.lastname}}  <img src="/images/verified.png" alt="verfied" style="width:14px"></p>
  <p class="form-text mb-0">Created on: {{dateFormatter post.createdAt}}</p>
  <p class="form-text">Last Update: {{post.updatedAt}}</p>
  <hr class="mb-4">
  <h3>{{post.description}}</h3>


  
</div>
<div class="container mt-5">
  <h6>Comment Section</h6>
  <hr class="text-primary">
  {{#each postComments as |comment|}}
    {{#ifEquals comment.user.id ../userid}}
        <p class="mb-0">{{comment.comment_description}}  <i class="fa-solid fa-trash ms-1 me-2"></i><i class="fa-solid fa-pen"></i></p>
        <p class="form-text">by {{comment.user.firstname}} {{comment.user.lastname}} <img src="/images/verified.png" alt="verfied" style="width:14px"></p>
        <hr>
    {{else}}
        <p class="mb-0">{{comment.comment_description}}</p>
        <p class="form-text">by {{comment.user.firstname}} {{comment.user.lastname}} <img src="/images/verified.png" alt="verfied" style="width:14px"></p>
        <hr>
    {{/ifEquals}}
  {{/each}}
</div>
<div class="container">
    <form>
    <label for="commentsInput" class="form-label">What do you think?</label>
    <input
        type="text"
        id="commentsInput"
        class="form-control"
        aria-labelledby="userComment"
    />
    <div id="userComment" class="form-text">
        This is a space where you can comment and share your opinions or thoughts about this topic
    </div>
    <button value="{{post.id}}" id="writeComment" type="submit" class="btn btn-secondary mt-3">Comment</button>
    </form>
</div>
