{{> nav-bar}}
<script src="/assets/js/commentActions.js" defer></script>
<div class="container mt-4">
  <h1 class="text-secondary">{{post.post_title}}</h1>
  <p>by {{post.user.firstname}} {{post.user.lastname}}  <img src="/images/verified.png" alt="verfied" style="width:14px"></p>
  <h3>{{post.description}}</h3>

  <h5>{{post.createdAt}}</h5>
  
</div>
<div class="container mt-5">
  <h6>Comment Section</h6>
  {{#each postComments as |comment|}}
    {{#ifEquals comment.user.id ../userid}}
        <p>{{comment.comment_description}}  <i class="fa-solid fa-trash ms-1 me-2"></i><i class="fa-solid fa-pen"></i></p>
        <p class="form-text">by {{comment.user.firstname}} {{comment.user.lastname}}</p>
    {{else}}
        <p>{{comment.comment_description}}</p>
        <p>by {{comment.user.firstname}} {{comment.user.lastname}}</p>
    {{/ifEquals}}
  {{/each}}
</div>
<div class="container">
    <form>
    <label for="commentsInput" class="form-label">What do you think?</label>
    <input
        type="text"
        id="commentsInput"
        class="form-control"
        aria-labelledby="userComment"
    />
    <div id="userComment" class="form-text">
        This is a space where you can comment and share your opinions or thoughts about this topic
    </div>
    <button value="{{post.id}}" id="writeComment" type="submit" class="btn btn-secondary">Comment</button>
    </form>
</div>
